* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Press Start 2P", cursive;
  height: 1800px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #441d88;
}
h4,
.encabezado {
  font-family: "Lobster", cursive;
  color: #35305c;
  font-size: 30px;
}
.yo {
  width: 130px;
  height: 130px;
  float: left;
  margin: 28px 13px 8px 32px;
}

.info {
  margin: 18px 0 18px 20px;
}

.about {
  margin: 8% 10% 0 15%;
  padding: 0 5% 0 5%;
  width: 60%;
  height: auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div {
  display: inline;
  margin-top: 5px;
  float: left;
  padding-right: 50px;
  width: 1800px;
  text-align: center;
}

.porcentaje {
  margin: 1000px 0px 0px 10px;
  width: 1500px;
  border-radius: 18px;
}
div h4 {
  width: 1650px;
}

.izquierda {
  margin-top: 30px;

  width: 1600px;
}
.education,
.bachiller,
.diplomado,
.ingenieria {
  width: 100%;
  padding: 0;
  margin: 0;
}
.porcentaje {
  background: #000;
}

h1 {
  padding: 20% 0 0 0;
  font-family: "Lobster", cursive;
  font-size: 80px;
  color: #35305c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1b1d4e;
  text-align: right;
  line-height: 40px;
  text-align: center;
}
li {
  width: 150px;
  display: inline-block;
  width: auto;
  height: auto;
}
nav a {
  text-decoration: none;
  display: block;
  color: #fc1996;
  text-align: center;
  background: #1b1d4e;
  padding: 0;
  margin-left: 30px;
  width: auto;
  height: auto;
}
a:hover {
  background: #fc1996;
  color: #1b1d4e;
}
header {
  width: 100%;
  height: 40.2%;
  text-align: center;
}
.second {
  margin: 0;
  border: none;
  width: 100%;
  height: 930px;
  padding: 0%;
  align-content: center;
}
.volley {
  width: 230px;
  height: 230px;
  margin: 3% 0 3% 0;
}

@media (max-width: 490px) {
  h1 {
    margin: 0;
    font-family: "Lobster", cursive;
    font-size: 40px;
    color: #441d88;
    padding: 60% 0 0 0;
  }
  ul {
    background-color: #441d88;
  }
  nav a {
    text-decoration: none;
    display: block;
    color: #fff;
    background: #441d88;
    padding: 0 10px 0 10px;
    font-size: 11px;
    margin: 0;
  }
  header {
    width: 100%;
    height: 40.8%;
  }
  .encabezado {
    font-family: "Lobster", cursive;
    color: #441d88;
    font-size: 10px;
  }
  a:hover {
    background: #2f1858;
    color: #fff;
  }
  .second {
    margin: 0;
    border: none;
    width: 100%;
    height: 40.3%;
    padding: 0%;
    align-content: center;
  }
  hr {
    height: 1.5px;
    background-color: #441d88;
  }
  .about {
    border-top: 2px solid #2f1858;
    border-bottom: 2px solid #2f1858;
  }
  .aprendido {
    width: 100%;
    height: 42%;
    padding: 0;
  }
  .logo_lenguaje {
    width: 50px;
    height: 50px;
    padding-right: 30px;
  }
  .mysql {
    width: 70px;
    height: 70px;
    padding-right: 120px;
  }
  h5 {
    padding: 8% 50% 5% 0;
  }
  .base_datos {
    padding-left: 40px;
  }
  .conocimientos {
    padding: 10% 0 8% 0;
  }
  .izquierda {
    width: 100%;
    height: 40%;
    padding: 0px;
    font-size: 18px;
  }
  .experiece {
    margin: 2% 0 2% 0;
    width: 100%;
    height: 5%;
  }
  b {
    margin: 0 0 5% 0;
  }
  .crepe,
  .tic {
    display: inline-block;
    margin: 8% 0 5% 0;
    width: 100%;
    height: auto;
    font-size: ;
  }
  .education {
    margin: 3% 0 3% 0;
  }
  .derecha {
    width: 100%;
    height: 40%;
    padding: 0;
  }
  .bachiller,
  .ingenieria,
  .diplomado {
    margin: 7% 0 5% 0;
    font-size: 20px;
  }
  .expe {
    width: 100%;
    height: 20%;
    font-size: 15px;
  }
}

/*
	}
}
}
}
header h1{
	width: 500px;
	margin-bottom: 2px;
}
h4{
	margin-top: 2px;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
.contenedor {
  display: flex;
  background-color: #555;
  column-count: 2;
}
.izquierda{
   background-color: #000;
  color: white;
  width: 1000px;
  height: 50px;
  margin: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.derecha{
 background-color: #ac2;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 10px;
}
*/
